%h1 Imprint / Impressum

%p
  %strong graphpipes
  is written and maintained by Thomas Winkler as a project at university in 2008. The Sourcecode is available on github: 
  %a{:href=>"http://github.com/tomfarm/graphpipes"}
    http://github.com/tomfarm/graphpipes
  
%p
  If you experience any technical issues feel free to send an 
  = link_to 'email', 'maito:tomfarm@gmail.com'
  To get the source you need git.
  git clone git://gitorious.org/graphpipes/mainline.git
  
%p
  %strong graphpipes
  uses the WireIt javascript library written by Eric Abouaf. 
  %a{:href=>'http://javascript.neyric.com/wireit'}
    http://javascript.neyric.com/wireit

  